.header {
    width: 100%;
    height: 10%;
    padding-top: rem(20px);
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    font-size: rem(17px);
    font-weight: 400;
}
.header-logo {
    @include phone {
        width: 40px;
    }
}
.phone {
    margin-left: rem(45px);
    padding-left: rem(15px);
    font-size: rem(24px);
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    background-image: url(../img/welcome/phone_.png);
    background-repeat: no-repeat;
    background-position: center left;

}
.phone--welcome {
    @include tablet {
        display: none;
    }
}
.nav-list {
    display: flex;
    @include tablet {
        display: none;
    }
}
.nav-list__item {
    margin-left: rem(27px);
    &:first-child {
        margin-left: rem(45px);
    }
    @include laptop {
        margin-left: rem(15px);
    }
}
.nav-list__link {
    color: inherit;
    text-decoration: none;
}
.burger {
    display: none;
    @include tablet {
        border-radius: 2px;
        position: relative;
        display: flex;
        background-color: #fff;
        width: 24px;
        height: 4px;
        &::before {
            border-radius: 2px;
            position: absolute;
            bottom: 9px;
            content: "";
            width: 24px;
            height: 4px;
            background-color: #fff;
        }
        &::after {
            border-radius: 2px;
            position: absolute;
            top: 9px;
            content: "";
            width: 24px;
            height: 4px;
            background-color: #fff;
        }
    }
}