.pagination {
    width: rem(16px);
    z-index: 20;
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagination__item {
    cursor: pointer;
    position: relative;
    margin-top: rem(20px);
    width: rem(6px);
    height: rem(6px);
    background-color: $green;
    border-radius: 50%;
    &:first-child {
        margin-top: 0;
    }
}
.pagination__item--active, .pagination__item:hover {
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(16px);
        height: rem(16px);
        border: rem(1px) solid $green;
        border-radius: 50%;
        background-color: transparent;
        transition: width 1s;
    }
}