.feedback-grid {
    width: 100%;
}
.feedback-card {
		overflow: hidden;
    margin-top: rem(50px);
    position: relative;
    padding: rem(45px);
    width: 100%;
    display: flex;
    /*background-color: $grey;
    background-image: url(../img/feedback/feedback-card-top.png);
    background-repeat: no-repeat;
    background-position: top center;*/
    background: 
                url(../img/feedback/feedback-card-bg.png) no-repeat top right;
    background-color: #f8faf9;
}
.feedback-card__upside {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	width: rem(123px);
	height: rem(75px);
	-webkit-clip-path: ellipse(35% 35% at 50% 50%);
}
	.feedback-card__img-wrap {
    width: 254px;
    height: 260px;
    overflow: hidden;
}
.feedback-card__img {
    object-fit: cover;
}
.feedback-card__content {
    margin-left: rem(17px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.feedback-card__title {
    color: #323232;
    font-size: 30px;
    font-weight: 500;
}
.feedback-card__description {
    color: $dark-grey;
    font-size: 18px;
    font-weight: 400;
}
.feedback-card__subtitle {
    color: $dark-grey;
    font-size: 18px;
    font-weight: 500;
}
.feedback-grid-buttons {
		width: 100%;
		margin-top: rem(50px);
    display: flex;
		justify-content: center;
		align-items: center;
}
.feedback-grid__switch {
        box-sizing: content-box;
		margin-left: rem(40px);
		overflow: hidden;
    width: rem(94px);
    height: rem(94px);
		border-radius: 50%;
		&:first-child {
			margin-left: 0;
		}
}
.feedback-grid__switch--active {
	border: 8px solid $green;
	background-color: $green;
}
.feedback-grid-buttons__img {
	object-fit: cover;
}