
.pros {
	margin-top: rem(70px);
	padding-bottom: rem(50px);
	display: flex;
	font-size: rem(16px);
	font-weight: 400;
}
.pros__item {
	display: flex;
	max-width: rem(135px);
	margin-left: rem(45px);
	&:first-child {
		margin-left: 0;
	}
}
.pros_item-text {
	width: 50%;
	margin-left: rem(10px);
}

