* {
	box-sizing: border-box;
}
html {
	height: 100%;
	font-size: 16px;
	@include laptop {
		font-size: 13.5px;
	}
	@include tablet {
		font-size: 12px;
	}
	@include phone {
		font-size: 8px;
	}
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	max-height: 100%;
}
a {
	cursor: pointer;
}
button {
	cursor: pointer;
}
label {
	cursor: pointer;
}
body {
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
	line-height: 1.42;
}
.body {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: auto;
}
.body--menu {
	overflow: hidden;
}
.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.section-wrap {
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
}
.container {
	height: 100%;
}
.section {
	min-height: rem(650px);
	height: 100%;
	width: 100%;
	@include phone {
        min-height: 480px;
    }
}